@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  background-image: url("../assets/fondo-icm-edit-edit.png");
  background-repeat: no-repeat;
  background-size: cover; }

* {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover; }

.nav {
  grid-area: nav;
  background-color: rgba(1, 45, 140, 0.8);
  top: 0;
  position: sticky;
  z-index: 2; }
  .nav ul {
    margin-top: 25px;
    display: flex;
    margin-left: auto;
    margin-right: 30px; }
    .nav ul li {
      margin-left: 10px;
      list-style: none; }
      .nav ul li a {
        text-decoration: none;
        color: white; }
    .nav ul .liClass {
      margin-top: 10px; }
      .nav ul .liClass a {
        color: white;
        cursor: pointer; }
        .nav ul .liClass a i {
          width: 0;
          height: 0;
          border-top: 10px solid #bcc8ff;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          position: absolute;
          transform: translate(5px, 10px); }
      .nav ul .liClass .btnSelec2 {
        flex-direction: column;
        transform: translate(-100px, -3px);
        position: absolute;
        padding: 0px 0px 0px 0;
        background-color: rgba(1, 45, 140, 0.8);
        height: 0;
        transition: .5s ease-in-out;
        width: 200px; }
        .nav ul .liClass .btnSelec2 li {
          visibility: hidden;
          margin-top: 5px; }
          .nav ul .liClass .btnSelec2 li a:hover {
            color: #3f6bfc; }
      .nav ul .liClass .showS {
        padding: 0px 5px 5px 0;
        height: 120px; }
        .nav ul .liClass .showS li {
          visibility: visible; }
  .nav div:nth-of-type(1) a img {
    width: 50px; }
  .nav div:nth-of-type(2) .btnSelec {
    display: none; }

@media (max-width: 768px) {
  .nav .ul-nav {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    transform: translate(-61vw, -25px);
    height: 100vh;
    width: 60vw;
    transition: .3s ease-in-out; }
    .nav .ul-nav #liId {
      cursor: pointer; }
      .nav .ul-nav #liId a {
        color: white; }
        .nav .ul-nav #liId a i {
          width: 0;
          height: 0;
          border-top: 10px solid #bcc8ff;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          position: absolute;
          transform: translate(5px, 10px); }
      .nav .ul-nav #liId .btnSelec2 {
        transform: translate(-100vw, -25px);
        flex-direction: column;
        transition: .2s ease-in-out;
        background-color: transparent; }
        .nav .ul-nav #liId .btnSelec2 li {
          margin-top: 10px; }
      .nav .ul-nav #liId .showS {
        transform: translate(-5vw, -25px); }
  .nav .show {
    transform: translate(-1px, -25px); }
  .nav div:nth-of-type(2) {
    margin-left: auto; }
    .nav div:nth-of-type(2) .btnSelec {
      margin: 20px;
      display: block;
      font-size: 35px;
      cursor: pointer; } }

.grid-index {
  display: grid;
  grid-template-areas: "nav nav nav nav nav nav nav nav nav nav nav nav" "mainIndex mainIndex mainIndex mainIndex mainIndex mainIndex mainIndex mainIndex mainIndex mainIndex mainIndex mainIndex " "footerIndex footerIndex footerIndex footerIndex footerIndex footerIndex footerIndex footerIndex footerIndex footerIndex footerIndex footerIndex "; }

.main-index {
  margin-top: 70px;
  grid-area: mainIndex;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 800px;
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  position: relative; }
  .main-index div {
    position: relative;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.8); }
    .main-index div::before {
      position: absolute;
      background-image: url(../assets/gris.png);
      opacity: .8; }
    .main-index div img {
      width: 100%;
      max-width: 400px; }

.footer-index {
  background-color: #012d8c;
  margin-top: 70px;
  padding: 20px 0;
  display: flex;
  grid-area: footerIndex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .footer-index div {
    margin: 0 5%;
    color: #bcc8ff;
    display: flex;
    flex-wrap: wrap; }
    .footer-index div h4 {
      font-size: 14px; }
    .footer-index div h3 {
      font-size: 15px; }

.main-secundario .CBS {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  background-color: #3f6bfc;
  text-align: center;
  padding: 10px;
  margin-top: 70px; }
  .main-secundario .CBS h2 {
    width: 80%;
    margin: 0 auto;
    border-bottom: 0.2px solid #444444; }
  .main-secundario .CBS img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 600px; }
  .main-secundario .CBS p {
    margin-top: 10px; }
  .main-secundario .CBS a {
    text-decoration: none;
    color: black;
    transition: .2s;
    margin-top: 15px; }
    .main-secundario .CBS a img {
      width: 60%; }

.main-jardin {
  margin-top: 70px; }
  .main-jardin div {
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.8);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #bcc8ff;
    padding: 20px; }
    .main-jardin div iframe {
      margin: 0 auto;
      width: 100%; }
  .main-jardin h2 {
    border-bottom: .1px solid black; }

.main-primario {
  margin-top: 70px; }
  .main-primario .div-main-prim {
    background-color: #bcc8ff;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    font-weight: bold; }
    .main-primario .div-main-prim p {
      text-decoration: overline; }

@media (max-width: 990px) {
  .grid-index {
    grid-template-areas: "header header header header header header header header header header header header" "nav nav nav nav nav nav nav nav nav nav nav nav" "mainIndex mainIndex mainIndex mainIndex mainIndex mainIndex mainIndex mainIndex mainIndex mainIndex mainIndex mainIndex" "footerIndex footerIndex footerIndex footerIndex footerIndex footerIndex footerIndex footerIndex footerIndex footerIndex footerIndex footerIndex"; } }

img {
  transition: .15s; }
  img:hover {
    filter: grayscale(70%); }
