.footer-index{
    margin-top: 70px;
    display: flex;
    grid-area: footerIndex;
    justify-content: space-between;
    flex-wrap: wrap;
    div{
        margin: 0 10%;
        h4{
            font-size: 15px;
        }
        h3{
            font-size: 15px;
        }
    }
}