.nav{
    grid-area:nav;
    background-color: $color5;
    opacity: 80%;
    top: 0;
    position: sticky;
    .first-div-nav{
        button{
            margin-left: auto;
            background-color: #0041cd;
            border: 2px solid black;
        }
        a{
            img{
                width:50px;
            }
        }
        .div-div{
            margin-left: auto;
            .ul-div-div{
                margin-left: auto;
                margin-right: 10px;
                text-align: right;
                .ul-li-div-div{
                    .ul-li-a{
                        color:$color2;
                        transition: .1s;
                        background-image: radial-gradient(white, white);
                        background-position: 50% 100%;
                        background-size: 0% 0%, 2.5px;
                        &:hover{
                            color: #031a4c;
                            background-size: 100% 2px;
                        }
                    }
                }
            }
        }
    }
}
