@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
$color1:rgb(60, 6, 167);
$color2:rgb(188, 200, 255);
$color3:rgb(63, 107, 252);
$color4:rgb(5, 71, 212);
$color5:rgb(1, 45, 140);
body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    background-image: url('../assets/fondo-icm-edit-edit.png');
    background-repeat: no-repeat;
    background-size:cover;
}
*{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
@import "nav";
@import "header";
@import "main-index";
@import "footer";
@import "main-secundario";
@import "main-jardin";
@import "main-primario";
@import "mediaqueries";
img{
    transition: .15s;
    &:hover{
        filter: grayscale(70%);
    }
}